/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    z-index: relative;
    z-index: 0;
}
/* Grid was used to layout the buttons. */

body {
    background-color: black;
}

h1 {
    color: purple;
    font-weight: 500;
}

p {
    font-weight: 600;
}

.button_layout {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem;
    grid-template-rows: 3.6rem 3.6rem 3.6rem 3.6rem 3.6rem;
    margin-top: 5.5rem;
    border: solid rgb(53, 0, 102) 0.4rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: rgb(116, 45, 231);
}

.cal_display { 
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    color: #d6c2ff;
    z-index: 2;
}

.cal_buttons {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    overflow: hidden;
    font-weight: 600;
}

.cal_buttons:hover {
    background-color: rgb(84, 22, 209);
    transform: scale(1.05);
    box-shadow: 0 0 3rem rgba(84, 22, 209, 1);
}

.cal_display { 
    border: solid 0.275rem black;
}

.cal_buttons {
    background-color: #227ce3;
    color: black;
    cursor: pointer;
    width: 4rem;
    height: 3.5rem;
    font-size: 1.2rem;
    border: solid black 0.2rem;
    border-radius: 0.8rem;
    align-items: center;
}

header {
    text-align: center;
}
main {
    justify-items: center;
}

@media (max-width: 690px){
}
@media (max-width: 480px){

.button_layout {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem;
    grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
    margin-top: 5rem;
}

.cal_buttons {
    width: 100%;
    height: 3rem;
}


}