/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

.button_layout {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem;
    grid-template-rows: 2rem 2rem 2rem 2rem 2rem;
    margin-top: 5rem;
    border: solid black 0.3rem;
    background-color: #5EE055;
}

.cal_display { 
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #00D790;
    color: black;
}

.cal_buttons {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
}

.cal_display { 
    border: solid 0.3rem black;
}

.cal_buttons {
    background-color: #00C8C2;
    color: black;
    cursor: pointer;
    width: 2.5rem;
    font-size: 1rem;
    border-radius: 5rem;
    align-items: center;
}
header {
    text-align: center;
}
main {
justify-items: center;
}