/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

.button_layout {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem 5rem;
    border: solid black 2px;
    width:fit-content
}

.cal_buttons {
    
}